.community {
    background-image: url('../../images/community.png');
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.community>h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #434343;
}

.community>h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 74px;
    text-align: center;
    color: #1A2168;
    padding: 0px 300px;
}

.btn3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 15px 22px;
    text-decoration: none;
    background-color: #1A2168;
    margin-right: 25px;
}

.btn4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1A2168;
    text-decoration: none;
    padding: 15px 22px;
    background-color: #fff;
}