.btn1 {
    background-color: #FF7A40;
    padding: 17px 29px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Panchang', sans-serif;
}