.insight {
    width: 100%;
    height: auto;
    padding: 20px 30px;
    background-color: #fff;
}

.insight>p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #434343;
    margin-left: 50px;
    font-family: 'Panchang', sans-serif;
    text-align: center;
}

.insight>h3 {
    font-weight: 700;
    font-size: 56px;
    line-height: 74px;
    color: #1A2168;
    margin-left: 50px;
    font-family: 'Panchang', sans-serif;
    text-align: center;
}

.insight .insight-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 60px;
}

.insight .insight-container .insight-box {
    width: 350px;
    height: auto;
    background-color: #fff;
}

.insight .insight-container .insight-box img {
    width: 350px;
}