.insight {
    width: 100%;
    height: auto;
    padding: 40px 30px;
    background-color: #fff;
}

.insight>p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #434343;
    margin-left: 50px;
    font-family: 'Panchang', sans-serif;
    text-align: center;
}

.insight>h3 {
    font-weight: 700;
    font-size: 56px;
    line-height: 74px;
    color: #1A2168;
    margin-left: 50px;
    font-family: 'Panchang', sans-serif;
    text-align: center;
}

.insight .insight-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

.insight .insight-container .insight-box {
    width: 350px;
    height: auto;
    background-color: #fff;
}

.insight .insight-container .insight-box img {
    width: 350px;
}

.insight-box .insight-date {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5px;
}

.insight-box .insight-date .insight-date-icon {
    font-size: 24px;
    color: #1A2168;
    margin-right: 5px;
}

.insight-date p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #878787;
    margin-top: 3px;
}

.insight-date p span {
    color: #1A2168;
    font-weight: 700;
}

.insight-header h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #1A2168;
}

.insight-more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.insight-more a {
    text-decoration: none;
    color: #434343;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .insight p {
        font-size: 14px;
        margin-left: 0;
        line-height: 18px;
    }
    .insight h3 {
        font-size: 24px;
        margin-left: 0;
        line-height: 32px;
    }
    .insight .insight-container {
        flex-direction: column;
        padding: 10px 15px;
    }
    .insight-box {
        margin-bottom: 10px;
    }
}