.offer {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    background-color: rgba(26, 33, 104, 0.06);
    padding: 30px 10px;
}

.offer-container h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #434343;
    margin-top: 60px;
    font-family: 'Panchang', sans-serif;
}

.offer-container h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 74px;
    color: #1A2168;
    font-family: 'Panchang', sans-serif;
}

.offer-box-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 55px;
    width: 100%;
    font-family: 'Panchang', sans-serif;
}

.offer-box {
    width: 340px;
    height: 410px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5px 20px;
}

.offer-box h2 {
    font-size: 30px;
    font-weight: 700;
    color: #00002F;
    line-height: 36.57px;
    margin-bottom: 42px;
    font-family: 'Montserrat', sans-serif;
}

.offer-box p {
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

.offer-icon {
    width: 70px;
    height: 80px;
    color: #FF7A40;
    margin-bottom: 42px;
}